<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black.otf</string>
		<string>Poppins-BlackItalic.otf</string>
		<string>Poppins-Bold.otf</string>
		<string>Poppins-BoldItalic.otf</string>
		<string>Poppins-ExtraBold.otf</string>
		<string>Poppins-ExtraBoldItalic.otf</string>
		<string>Poppins-Regular.otf</string>
		<string>Poppins-SemiBold.otf</string>
		<string>Poppins-SemiBoldItalic.otf</string>
		<string>Poppins-Thin.otf</string>
		<string>Poppins-ThinItalic.otf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Authentication</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App will try to access your location for better use</string>
	<key>NSLocationUsageDescription</key>
	<string>App will try to access your location for better use</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App will try to access your location for better use</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>In order to record voice, app needs your permission</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Required</string>
	<key>NSCameraUsageDescription</key>
	<string>Required</string>
</dict>
</plist>
